#navbar1{
	display: none;
}
.titile #selamat b{
	display: inline-block;
	margin-top:30px; 
	font-size: 28px;
	text-align: center;
	margin-bottom: 20px; 

}
.gambar img{
	width: 100%;
	z-index: -1;
	/* position: absolute; */
}
.gambar button{
	position: absolute;
	margin-top:150px;
	background-color: transparent;
	border: solid 2px black;
	font-size: 20px;
	border-radius: 7px;

}
.gambar button:hover{
	position: absolute;
	margin-top:150px;
	background-color: rgba(77, 232, 22, 0.5);
	color: black;
	border: solid 2px black;
	font-size: 20px;
	border-radius: 7px;
	
}
.row h6{
	text-decoration: underline;
	font-size: 22px;
}
.row li{
	font-size: 17px;
}
.nav-wrapper ul li a{
	font-size: 22px;
	/* color: #636363; */
}
.nav-wrapper .brand-logo{
	margin-right:  22px;
}
.data h5{
	font-size: 25px;
}
.data li{
	font-size: 17px;
}
.admin{
	display: none;
}
.lainya button{
	border-radius: 7px;
	color: black;
	background-color: #0CBF30;
}
.lainya button:hover{
	border-radius: 7px;
	color: black;
	background-color: #0CBF30;
}
 *{
	 	font-family: sans-serif;
		padding: 0px;
		margin:0px;
	 }
	 .row21{
	 	padding: 0px;
	 	margin: 0px;
	 }
 	.navAd{
		height: 80px;
		width: 100%;
		background-color: #20252b;
		color: #ffffff;
		border-bottom: solid 1px yellow;
		position: fixed;
	}
	#nav-admin{	
		padding-top: 20px;
		color: #1edee0;
		margin-left: 120px;
		float: left;
	}
	#nav-gambar{
		padding-top: 10px;
		float: right;

	}
	#nav-gambar img{
		width: 47px;
		margin-right: 30px;
	}
	#nav-admin span{
		font-size: 30px;
		margin-right:10px;
	}
	#min{
		color: #d5a929;
	}
	#nav-admin input{
		font-size: 25px;
		border-radius: 7px;
		width: 170px;
	}
	.nav-kiri{
		margin-top: 80px;
		position: fixed;
		float: left;
		height: 760px;
		background-color: #252F3B;
		width: 17%;
		border-right: solid 1px yellow;
	}
	#des{
		margin-top: 12px;
		width: 100%;	
		/* background-color: blue; */
		height: 40px;
	}
	#des:hover{
		width: 100%;	
		background-color: #3989C5;
		height: 40px;
		border-top: solid 1px grey;
		border-bottom: solid 1px grey;
	}
	#des a{
		display: inline-block;
		text-decoration: none;
		color: white;
		font-size: 20px;
		border-radius: 10px;
		padding: 7px 40px;

	}
	#des img{
		position: absolute;
		color: width;
		height: 20px;
		padding-left: 110px;
	}
	.nav-kanan{
		display: inline-block;
		margin-left: 222px;
		margin-top: 80px;
		float: left;
		width: 81%;
		/* background-color: red;	 */
	}
	.ad-konten{
		margin-top: 10px;
		margin-left: 30px;
	}
	.ad-konten img{
		width: 35px;
	}
	.ad-konten #gr{
		font-size: 40px;
		color: #2b2b2b;
	}
	.ad-konten span{
		font-size: 37px;
		color: #2b2b2b;
	}
	.kon-des{
		margin-left: 42px;
		margin-top:32px;
	}
	.kon-des h3{
		text-align: center;
		margin-bottom: 7px;
		 
	}
	.kon-des p{
		text-indent: 50px;
		text-align: justify;
	}
	#baras{
		border-bottom: solid 1px grey;
	}
	.conteiner .gambar img{
		
		width: 130px;
		height: 140px;
		float: right;
	}
	.conteiner .data_diri{
		padding-left: 30px;
		clear: both;
		font-size: 25px;
	}
	.conteiner .kotak{
		margin-top: 50px;
		border:2px solid black;
	}
	
	